$babyBlue: #3498db;
$matureBlue: #2980B9;

.loginPage{
	background-color: $matureBlue;
	
	.loginImage{
		text-align: center;
		color: white;
	}
	.loginContainer{
		padding-top: 20%;
	}

	.btn-primary{
		background-color: $babyBlue;
	}
}