$babyBlue: #3498db;
$matureBlue: #2980B9;

.loginPage{
	background-color: $matureBlue;
	
	.loginImage{
		text-align: center;
		color: white;
	}
	.loginContainer{
		padding-top: 20%;
	}

	.btn-primary{
		background-color: $babyBlue;
	}
}

.frontPage{

	.navbar-inverse{
		background-color: $matureBlue;
		border-color: $matureBlue;
	}
	.topContainer{
		text-align: center;

		#logo{

		}
	}
}

.level2{
	background-color: $matureBlue;
	color: white;
	text-align: center;
	padding: 2.5%;
}